---
import Social from "./Social.astro";

export interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;
---

<div class="author">
	<p>by <span>{name}</span></p>
</div>

<style>
	p span {
		color: var(--theme-accent);
	}
	.author {
		margin-bottom: 0.75rem;
	}
</style>
