---
import Author from './Author.astro';
import Social from './Social.astro';

export interface Props {
	title: string;
	description: string;
	subtitle: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, description, publishDate, heroImage, alt, subtitle } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				{heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
				{description ? <p class="description">{ description }</p> : ''}
				<h1 class="title">{title}</h1>
				{subtitle ? <p class="subtitle">{ subtitle }</p> : ''}
				<Author name="James Daniels" />
				<p class="publish-date">{publishDate}</p>
			</header>
			<main>
				<slot />
			</main>
			<footer>
				<Social />
			</footer>
		</div>
	</article>
</div>

<style>
	.hero-image {
		width: 100vw;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		margin-bottom: 4rem;
		max-width: 1280px;
	}

	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.title,
	.author,
	.description,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 3.25rem;
		font-weight: 900;
		letter-spacing: 0.1rem;
		transform: scale(1, 1.25);
		line-height: 1em;
    		margin-bottom: 0.5em;
	}

	.subtitle {
		font-size: 1.75rem;
		font-weight: 200;
		transform: scale(1, 1.25);
		word-spacing: 0.1em;
		line-height: 1.75rem;
		margin: 1rem 0;
	}

	.description {
		text-transform: none;
		font-family: var(--font-serif);
		color: var(--theme-text-lighter);
		margin-bottom: 2rem;
		border-bottom: 1px dashed var(--theme-divider);
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}
</style>
